In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

In [2]:
df = pd.read_csv('csgo.csv')
df.head()

    W   L   MP   ftkd   stkd
0  12  16    0   0.82   1.01
1   5  16    0   0.82   1.01
2  16  13    1   0.82   1.01
3   2  16    0   0.82   1.01
4   6  16    0   0.82   1.01

In [3]:
df.drop(['W'], axis=1, inplace=True)

In [4]:
df.head()

    L   MP   ftkd   stkd
0  16    0   0.82   1.01
1  16    0   0.82   1.01
2  13    1   0.82   1.01
3  16    0   0.82   1.01
4  16    0   0.82   1.01

In [5]:
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

    MP   ftkd   stkd
0    0   0.82   1.01
1    0   0.82   1.01
2    1   0.82   1.01
3    0   0.82   1.01
4    0   0.82   1.01

In [6]:
print(df.columns.tolist())

[' MP', ' ftkd', ' stkd']

In [7]:
y = df[' MP'].copy()
y.head()

0    0
1    0
2    1
3    0
4    0
Name:  MP, dtype: int64

In [8]:
X = df.drop(' MP', axis=1).copy()
X.head()

    ftkd   stkd
0   0.82   1.01
1   0.82   1.01
2   0.82   1.01
3   0.82   1.01
4   0.82   1.01

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [42]:
clf_xgb = xgb.XGBClassifier(seed=42)

clf_xgb.fit(X_train,
           y_train,
           verbose=True,
           early_stopping_rounds=10,
           eval_metric='aucpr',
           eval_set=[(X_test, y_test)])

[0]	validation_0-aucpr:0.56675
[1]	validation_0-aucpr:0.56413
[2]	validation_0-aucpr:0.55999
[3]	validation_0-aucpr:0.55084
[4]	validation_0-aucpr:0.55157
[5]	validation_0-aucpr:0.56662
[6]	validation_0-aucpr:0.56662
[7]	validation_0-aucpr:0.56662
[8]	validation_0-aucpr:0.56059
[9]	validation_0-aucpr:0.56577
[10]	validation_0-aucpr:0.56577

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=12,
              num_parallel_tree=1, predictor='auto', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [93]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict_proba(np.array([[1.13, 0.97]]))
print(y_pred)

[[0.44397952 0.55602048]]

In [89]:
from sklearn.metrics import f1_score

Y_pred = model.predict(X_test)
F1 = f1_score(y_test, Y_pred, average="micro")
print(F1)

0.6842105263157895